.TodoInput {
    width: 100%;
    display: flex;
    align-items: center;
}

.TodoInputBox {
    flex: 1;
    border: none;
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px 1px gray;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}

.TodoAddButton {
    border: none;
    border-radius: 10%;
    display: flex;
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
    box-shadow: 1px 2px 5px 1px gray;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    color: gray;
}

.TodoAddButton svg {
    font-size: 3rem;
    transform: scale(1.8);
}
