:root {
  /* color */
  --color-white: white;
  --color-darkgray: rgb(97, 97, 97);
  --color-black: black;
  /* font-size */
  --super-size: 2.5rem;
  --large-size: 1.5rem;
}

body {
  background-color: rgb(255, 194, 81);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 194, 81);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

section {
  margin-top: 250px;
}

.title {
  margin: 30px auto;
  padding-bottom: 20px;
  font-size: var(--super-size);
  font-weight: bold;
  color: var(--color-darkgray);
}

.TodoInput {
  width: 100%;
  height: 40px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  font-size: var(--large-size);
  border-radius: 4px;
}

.TodoInputBox {
  display: flex;
  border: none;
  padding: 10px;
  height: 50px;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px 1px var(--color-darkgray);
  margin-bottom: 15px;
  font-size: var(--large-size);
  font-weight: bold;
}

.TodoAddButton {
  border: none;
  border-radius: 0;
  height: 90px;
  width: 50px;
  font-weight: bold;
  cursor: pointer;
  font-size: 4rem;
  color: var(--color-darkgray);
}

.items {
  padding: 0.4rem;
}

.TodoItem {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px var(--color-darkgray);
  padding: 1rem;
  display: flex;
  align-items: center;
}

.itemRow {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--color-black);
  border-radius: 4px;
  padding: 10px 0;
  margin: 10px 0;
  background-color: rgb(255, 241, 213);
  font-size: var(--large-size);
}

.content {
  display: flex;
  cursor: pointer;
}

.unprimary {
  display: none;
}

hr {
  margin: 20px 0;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.content .text {
  font-size: var(--large-size);
  margin-left: 1rem;
}

.icons {
  font-size: var(--large-size);
  color: var(--color-darkgray);
}

svg {
  padding: 0 5px;
  cursor: pointer;
}
